:root {
    --icon-options: #a4c75a;
    --icon-remove: #ff6347;
    --icon-urgent: #ff8800;
    --icon-new-task: #2a92bf;
    --icon-total: #777777;
    --list-working: #ffc000;
    --list-done: #00b91f;
    --dark-color: #282828;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.overlay-bg {
    background: radial-gradient(farthest-side at bottom left, #a27dc2, #fff0),
        radial-gradient(farthest-side at top left, var(--list-working), #fff0),
        radial-gradient(farthest-corner at bottom right, var(--icon-new-task), #fff0),
        radial-gradient(farthest-corner at top right, var(--list-done), #fff0);
    position: fixed;
    width: 102%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

/* HEADER */
header {
    padding: 12px 2%;
    background: var(--dark-color);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: #00000030 0px 2px 6px, #00000040 0px 2px 6px;
}

h1 {
    display: inline-block;
    margin: 0px 0.75em 0 0;
    font-weight: normal;
    color: #ffffff;
    font-size: 1.5em;
    padding: 4px 0.625em 0 0;
    border-right: 1px solid #000;
    float: left;
    position: relative;
    background: linear-gradient(90deg, #fff0 calc(100% - 1px), #fff2 100%);
    height: 1.5em;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a:hover span:nth-child(1) {
    text-shadow: 0 0 10px var(--icon-new-task), 0 0 20px var(--icon-new-task);
}

h1 a:hover span:nth-child(3) {
    text-shadow: 0 0 10px var(--list-working), 0 0 20px var(--list-working);
}

h1 a:hover span:nth-child(5) {
    text-shadow: 0 0 10px var(--list-done), 0 0 20px var(--list-done);
}

h1 span {
    float: left;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease;
}
h1 span:nth-child(1) {
    font-size: 1.5em;
    line-height: 0.725em;
    color: var(--icon-new-task);
}
h1 span:nth-child(2) {
    font-size: 0.475em;
    position: absolute;
    left: 24px;
    margin-top: -3px;
    color: #ccc;
}
h1 span:nth-child(3) {
    margin-left: -1px;
    margin-top: -7px;
    font-size: 1.05em;
    top: 11px;
    color: var(--list-working);
}
h1 span:nth-child(4) {
    font-size: 0.425em;
    margin-left: 0px;
    top: 7px;
    color: #999;
}
h1 span:nth-child(5) {
    font-size: 0.62em;
    font-weight: bold;
    top: 16px;
    left: -34px;
    color: var(--list-done);
}
h1 span:nth-child(6) {
    margin-left: -3.75em;
    font-size: 0.365em;
    margin-top: 17px;
    color: var(--icon-total);
}

/* TOTAL TASKS */
#totalTask {
    color: var(--dark-color);
    font-size: 1.35em;
    position: relative;
    height: 1.65em;
    float: left;
    width: 1.65em;
    text-align: center;
    background: var(--icon-total);
    margin-top: 0px;
    line-height: 1.75em;
    margin-right: 3em;
    border-radius: 2px;
}
#totalTask:after {
    content: "TAREAS TOTALES";
    font-size: 11px;
    line-height: 1.25em;
    position: absolute;
    max-width: 5em;
    right: -5em;
    padding: 5px 0 0.45em 10px;
    box-sizing: border-box;
    color: var(--icon-total);
    text-align: left;
}
#totalTask:hover,
#totalTask:hover:after {
    color: #fff;
}

/* BUTTONS */
#btns {
    display: inline-block;
    font-size: 1em;
    padding-top: 0px;
    height: 2.3em;
    border-left: 1px solid #282828;
    padding-left: 1.15em;
}
#btns:before {
    content: "";
    float: left;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, #fff1 0 1px, #000 0 2px);
    margin-left: -1.2em;
}
#btns button {
    cursor: pointer;
    padding: 0.25em;
    font-size: 1.5em;
    color: var(--dark-color);
    border: 0;
    outline: none;
    border-radius: 2px;
    width: 1.5em;
    height: 1.5em;
}
#addToDo {
    background: var(--icon-new-task);
    line-height: 0.75em;
}
.btnAdd {
    position: relative;
    float: left;
    padding-right: 3.35em;
    border-right: 1px solid #000000;
    margin-right: 1.2em;
    background: linear-gradient(90deg, #fff0 calc(100% - 1px), #fff2 100%);
}
.btnAdd button:after {
    margin-left: 7px;
    width: 2.5em;
    margin-top: -9px;
    content: "NUEVA TAREA";
    font-size: 11px;
    line-height: 1.2em;
    color: var(--icon-new-task);
    position: absolute;
    padding-left: 10px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
#btns button:hover,
#btns button:hover:after {
    color: #fff;
}

/* USER INFO */
.user-info {
    float: right;
    color: #fff;
    padding-top: 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.user-info .username {
    color: #fff;
}

.user-info .separator {
    color: #666;
}

.user-info .logout-link {
    color: #ff6347;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.user-info .logout-link:hover {
    color: #ff8877;
    text-decoration: underline;
}

#deleteItem {
    display: inline-block;
    background: var(--icon-remove);
    height: 1.5em;
    color: #fff;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 1.5em;
    position: relative;
    font-size: 1.5em;
}
#deleteItem:before {
    position: absolute;
    left: 34px;
    width: 107px;
    top: -2px;
    content: "ARRASTRA AQUÍ";
    font-size: 11px;
    cursor: alias;
    color: var(--icon-total);
    padding-left: 8px;
    padding-top: 5px;
}
#deleteItem:after {
    content: "CLICK VACIAR";
    position: absolute;
    width: 108px;
    font-size: 11px;
    border-radius: 1px;
    left: 34px;
    color: var(--icon-remove);
    padding-left: 7px;
    top: 13px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}
#deleteItem:hover:before {
    color: #ffffff;
}
#deleteItem ul {
    margin: 0;
    position: relative;
    z-index: 1;
    padding: 0.5em;
    height: 100%;
    cursor: pointer;
}
#deleteItem ul:before {
    width: 12px;
    height: 15px;
    top: 11px;
    left: 10px;
    background: var(--dark-color);
    content: "";
    position: absolute;
    border-radius: 0 0 2px 2px;
}
#deleteItem ul:after {
    border-bottom: 3px solid var(--dark-color);
    width: 14px;
    position: absolute;
    left: 9px;
    line-height: 1em;
    top: -8px;
    color: var(--dark-color);
    content: "-";
    padding-bottom: 3px;
    height: 12px;
    text-align: center;
    text-indent: -1px;
}
#deleteItem:hover ul:before {
    background: #fff;
}
#deleteItem:hover ul:after {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
}
#deleteItem #delete-list.drag-enter {
    border-radius: 2px;
    background: #ffffff;
    z-index: 0;
}
#deleteItem #delete-list.drag-enter:before {
    background: var(--icon-remove);
}
#deleteItem #delete-list.drag-enter:after {
    border-bottom: 3px solid var(--icon-remove);
    color: var(--icon-remove);
}

/* LISTS */
#myLists {
    padding: 1.35% 1% 5% 1%;
    float: left;
    width: 100%;
    display: inline-table;
    margin-top: 60px;
}
#myLists.full {
    display: flex;
    min-height: calc(100% - 60px);
}
#myLists > div {
    width: 32.3%;
    display: inline-table;
    margin: 0.5%;
    background: rgba(247 247 247 / 0.5);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px, rgba(0, 0, 0, 0.25) 0px 2px 6px;
}
#myLists > div.full {
    display: block;
}
#myLists div h3 {
    background: var(--column-color, var(--icon-new-task));
    color: #fff;
    padding: 0.65em;
    margin-top: 0;
    font-weight: normal;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
#myLists div h3:before {
    content: "\2022";
    border: 2px solid rgb(255 255 255);
    float: left;
    width: 1em;
    height: 1em;
    color: var(--column-color, var(--icon-new-task));
    margin-right: 0.5em;
    border-radius: 2px;
    background: rgb(255 255 255);
    text-align: center;
    font-weight: bold;
    line-height: 1.1em;
}
#myLists h3 span {
    float: right;
    width: 1.5em;
    text-align: center;
    line-height: 1.7em;
    border-radius: 1px;
    font-size: 0.775em;
    margin-right: -0.25em;
    color: rgb(255 255 255 / 75%);
    font-weight: bold;
    background: #00000070;
}
#myLists ul {
    padding: 0;
    margin: 0.5em;
    height: calc(100% - 3.5em);
    box-sizing: border-box;
    padding-bottom: 0.6em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
#myLists ul:after {
    margin-top: 0;
    content: "ARRASTRA AQUÍ";
    border: 2px dashed #00000040;
    padding: 1.05em 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0 0 0 / 0.35);
    display: inline-table;
    width: 100%;
    box-sizing: border-box;
    bottom: 0.8em;
    border-radius: 2px;
    font-weight: bold;
    min-height: 0;
    flex: 1;
}
#myLists ul:hover:after {
    border-color: rgb(0 0 0 / 0.35);
    color: rgb(0 0 0 / 0.4);
    background: #ffffff40;
}
#myLists ul li {
    position: relative;
    list-style: none;
    min-height: 3.5em;
    border: 3px dashed rgb(0 0 0 / 0);
    border-radius: 2px;
    background: #ffffff;
    padding: 0.05em 1.25em 1.65em 0.5em;
    margin-bottom: 0.65em;
    color: #828282;
    cursor: grab;
    box-shadow: 1px 1px 2px -1px #00000087;
    max-height: 10em;
}
#myLists ul li:active {
    cursor: grabbing;
    border-color: rgba(0, 0, 0, 0.15);
}
#myLists ul li:before {
    content: "";
    background: var(--column-color, var(--icon-new-task));
    position: absolute;
    left: -3px;
    top: -3px;
    height: calc(100% + 2px);
    width: 4px;
    border-radius: 1px;
    border: 2px solid transparent;
}
#myLists ul li:after {
    content: "";
    border-left: 2px dotted #fff;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
}
#myLists ul li span.txt {
    cursor: pointer;
    display: block;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 1px dotted rgba(0, 0, 0, 0);
    font-size: 0.95em;
    overflow: hidden;
    text-align: justify;
    color: #666;
    transition: color 0.4s ease 0s;
    height: 100%;
    max-height: 7.5em;
}

#myLists ul li span.txt:hover {
    background: #ececec;
    color: #999;
    border: 1px dotted rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    transition: color 0.4s ease 0s;
}

#myLists ul li span.txt:before {
    content: "EDIT";
    position: absolute;
    left: 1.25em;
    background: #49637d80;
    font-size: 0.65em;
    bottom: 0.5em;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1px;
    padding: 0.25em 0.45em;
}

#myLists ul li span.idTask {
    font-size: 0.7em;
    color: #fff;
    position: absolute;
    left: 6.25em;
    bottom: 5px;
    background: var(--column-color, var(--icon-new-task));
    padding: 0 0.25em;
    border-radius: 1px;
    height: 16px;
    line-height: 16px;
}
#myLists ul li span.idTask:before {
    content: "";
    font-family: monospace;
    margin-top: 1px;
    margin-right: 2px;
    font-size: 1.275em;
    color: #00000055;
    line-height: 1em;
    font-weight: bold;
}

#myLists ul li a.up,
#myLists ul li a.down {
    float: right;
    position: absolute;
    right: 0em;
    top: 0;
    background: linear-gradient(180deg, #e2e4e6 0 1.3em, #fff0 0 100%);
    width: 16px;
    height: 50%;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}
#myLists ul li a.down {
    bottom: 0;
    top: inherit;
    border-bottom: 0;
    background: linear-gradient(0deg, #e2e4e6 0 1.3em, #fff0 0 100%);
}
#myLists ul li a.up:before {
    content: "";
    border: 5px solid transparent;
    float: right;
    border-bottom: 9px solid #fff;
    margin-top: 2px;
    margin-right: 3px;
    transition: all 0.5s ease 0s;
}
#myLists ul li a.down:before {
    content: "";
    border: 5px solid transparent;
    float: right;
    border-top: 8px solid #fff;
    right: 3px;
    bottom: 2px;
    position: absolute;
    transition: all 0.5s ease 0s;
}
#myLists ul li a.up:hover:before {
    border-bottom-color: var(--dark-color);
    margin-top: 0;
}

#myLists ul li a.down:hover:before {
    border-top-color: var(--dark-color);
    bottom: 0px;
}

#myLists ul li a.delete {
    background: var(--icon-remove);
    width: 1em;
    height: 1em;
    float: right;
    bottom: 0.3em;
    position: absolute;
    left: 3em;
    text-decoration: none;
}

#myLists ul li a.delete:before {
    background: conic-gradient(from 180deg at 30% 37.5%, var(--icon-remove) 0 25%, #fff0 0 100%),
        conic-gradient(from 90deg at 70% 37.5%, var(--icon-remove) 0 25%, #fff0 0 100%),
        linear-gradient(
            0deg,
            var(--icon-remove) 1% 20%,
            #fff0 0% 62%,
            var(--icon-remove) 0% 70%,
            #fff0 0 80%,
            var(--icon-remove) 0 100%
        ),
        linear-gradient(90deg, #fff0 0 25%, #fff 0% 75%, #fff0 0 100%), var(--icon-remove);
    content: "";
    position: absolute;
    font-size: 1.1em;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 1.6em;
    border-radius: 2px;
    left: 0;
    top: 0;
}

#myLists ul li a.delete:hover:after {
    content: "ELIMINAR";
    background: var(--icon-remove);
    left: 22px;
    position: relative;
    font-size: 10px;
    padding: 3px 4px;
    color: #fff;
    top: -3px;
}

#myLists ul li a.delete:hover {
    overflow: visible;
}

#myLists ul.drag-enter:after {
    color: var(--column-color, #2a92bf) !important;
    border: 2px dashed var(--column-color, #2a92bf) !important;
}

/* MODAL */
#modalOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 0;
    display: none;
    cursor: pointer;
}
#modalBox {
    background: #ffffff;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 32%;
    left: 30%;
    z-index: 333;
    padding: 20px;
    border-radius: 2px;
    width: 40%;
    box-sizing: border-box;
    margin-top: 0;
    display: none;
    border-left: 10px solid var(--icon-new-task);
}
#modalBox:before {
    content: "";
    border-left: 3px dotted white;
    height: 15px;
    width: 0;
    float: left;
    position: absolute;
    left: -6px;
    top: 50%;
    margin-top: -8px;
}
#modalDesc {
    color: #555;
    text-align: justify;
    line-height: 1.25em;
    margin-top: 0.1em;
    padding-left: 2.35vmin;
    position: relative;
}
#modalDesc:before {
    content: "";
    width: 0.5vmin;
    height: 2vmin;
    position: absolute;
    background: linear-gradient(0deg, #fff0 22%, #fff 0% 30%, #fff0 0% 77%, #fff 0% 83%, #fff0 0% 100%),
        conic-gradient(from -45deg at 50% 100%, #ccc 0 25%, #fff0 0 100%);
    transform: rotate(40deg);
    left: 0.5vmin;
    border-radius: 2px 2px 0 0;
    top: -0.25vmin;
}
#modalDesc:after {
    content: "";
    position: absolute;
    left: 0.75vmin;
    bottom: 0.7vmin;
    width: 1.2vmin;
    height: 0.25vmin;
    background: repeating-linear-gradient(90deg, #ccc 0 2px, #fff0 0 4px);
    border-radius: 5px;
    background-position: 0px 0;
}
#modalClose {
    float: right;
    background: var(--icon-remove);
    line-height: 1.35em;
    height: 1.6em;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    padding: 0 0.35em;
    border: 2px solid transparent;
    border-radius: 1px;
}
#modalClose:hover {
    background: var(--dark-color);
}
#modalOverlay:hover + #modalBox #modalClose {
    background: var(--dark-color);
}
#modalBox button {
    height: 1.6em;
    background: var(--icon-new-task);
    border: 0;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 1px;
}
#modalBox button:hover {
    background: var(--dark-color);
}
#modalBox textarea {
    width: 100%;
    border: 2px solid #ccc;
    outline: none;
    margin-bottom: 1em;
    height: 6em;
    font-size: 1em;
}

/* CONFIRM DELETE */
#confirmDelete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 100;
}
#confirmBox {
    background: #fff;
    position: fixed;
    width: 18em;
    top: 50%;
    left: 50%;
    height: 8.85em;
    margin-top: -7em;
    margin-left: -9em;
    text-align: center;
    padding: 1em;
    border-radius: 2px;
    display: none;
    z-index: 101;
}
#confirmBox p {
    margin-top: 0.5em;
    color: var(--icon-remove);
    font-weight: bold;
}
#confirmBox button {
    width: 46%;
    background: #828282;
    border: 0;
    outline: none;
    height: 2em;
    cursor: pointer;
    color: #fff;
}
#confirmBox #confirmBtn {
    background: var(--icon-remove);
}
#confirmBox button:hover {
    background: var(--dark-color) !important;
}

@media only screen and (max-width: 767px) {
    /* Ocultar textos de los botones */
    #totalTask:after,
    .btnAdd button:after,
    #deleteItem:before,
    #deleteItem:after {
        display: none !important;
    }
    
    /* Igualar márgenes en móviles */
    h1 {
        border-right: none !important;
        background: none !important;
        padding-right: 0px;
        margin-right: 0.3em;
    }
    
    #totalTask {
        margin-right: 0.8em;
    }
    
    .btnAdd {
        margin-right: 0.8em;
        padding-right: 0.8em;
    }
    
    #btns {
        padding-left: 0.8em;
    }
    
    #myLists > div {
        width: 98.5% !important;
        margin-bottom: 2%;
    }
    
    #modalBox {
        width: 80%;
        left: 10%;
    }
}
